# Ignore Data Folders
data/
figures/
out/
old/
notebooks/IT_data.h5
notebooks/
src/main_gomar.py
src/main_gomar2.py
src/utils_gomar2.py

# Ignore system files
.DS_Store
Thumbs.db


# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.npy
*.pkl

src/utils_sylvain.py
/notebooks/sylvainshan
Majaj et al.pdf