# Ignore Data Folders
data/
figures/
out/
notebooks/IT_data.h5
notebooks/

# Ignore system files
.DS_Store
Thumbs.db


# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.npy
*.pkl
src/utils_sylvain.py
/notebooks/sylvainshan
Majaj et al.pdf